/* common shard styels */
body{
    font-family: 'Open Sans', sans-serif;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-descriptioin{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* nave releted styels */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px;
}

.text-primary{
    color: #fd6e0a;
}

.btn-primary{
    border-radius: 5px;
    background-color: #fd6e0a;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    }

.nav-title {
    color: #181818;
    font size: 45px;
    font-weight: 800px;
}

nav >ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin: 50px;
}

nav a{
    text-decoration: none;
    color: #181818;
}

/* header releted style */
.header{
background-color: #fff8f3;
background-image: url('../images/header_bg.png');
background-repeat: no-repeat;
background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}

.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin: 0px;
}

.banner-content{
    max-width: 500px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin: bottom 20px; ;
}

/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}


/* about section style */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
    margin: 130px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    font-weight: 700;
}


.about-inf{
    text-align: center;
    font-weight: 700;
}

/* what i do rileted style */
#what-i-do-description{
    padding: 30px 150px;
    text-align: center;
}

.skils-container {
    display: flex;
    gap: 24px;
}

.skils{
    padding: 30px;

    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skil-description{
    color: #757575;
}

/* ruseme related styels */
.resume-colaum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.Resume-container{
    display: flex;
    gap: 50px;
}

.resume-item-title{
    color: #474747; 
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;

}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-institute,.resume-item-description{
    color: #757575;
}

.Resume-container hr{
   margin: 30px;
}

.download-cv{
    text-align: center;
    margin-top: 30px;
}


